#chat-screen {
  background-color: #abc1d1;
  height: 11000vh;
}

.chat__timestamp {
  color: white;
  background-color: #92a4b2;
  padding: 14px;
  font-size: 15px;
  border-radius: 15px;
  margin-bottom: 40px;
}

#chat-screen .alt header {
  position: fixed;
  width: 100%;
}

.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px 15px;
  align-items: center;
  /* 수직 방향 center */
  box-sizing: border-box;
}
.reply input {
  height: 35px;
  width: 100%;
  border: var(--main-border);
  border-radius: 20px;
}
.reply .reply__column:first-child {
  width: 10%;
}
.reply .reply__column:last-child {
  width: 90%;
  position: relative;
}

.reply .reply__column:last-child > i,
/* direct 로 children을 선택한다. */
.reply .reply__column:last-child button {
  position: absolute;
  right: 0;
  top: 4px;
}
.reply .reply__column:last-child > i
/* direct 로 children을 선택한다. */ {
  right: 40px;
  top: 12.5px;
}

.reply__column button {
  background-color: var(--yellow);
  border: none;
  /* 전송 버튼의 테두리가 검은색인데, border:none;을 통하여 
  경계를 없앤다. */
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.reply__column button:focus,
.reply__column button:active {
  outline: none;
  /* 전송 버튼을 눌러도 아무런 효과가 없게 하는 코드 */
}

.reply i {
  opacity: 0.6;
}
.reply__column button i {
  opacity: 1;
}
