#chat-screen {
  background-color: #abc1d1;
  height: 500vh;
}

.chat__timestamp {
  color: white;
  background-color: #92a4b2;
  padding: 14px;
  font-size: 15px;
  border-radius: 15px;
  margin-bottom: 40px;
}

#chat-screen .alt header {
  position: fixed;
  width: 100%;
  background-color: #abc1d1;
}

.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px 15px;
  align-items: center;
  /* 수직 방향 center */
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

.reply input {
  height: 35px;
  width: 100%;
  border: var(--main-border);
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
  /* 대화입력창을 focus하면 적용되는 효과를 0.3초만에 보여주는
  코드이다. 이 코드를 입력안하면 그냥 기본값으로 바로 적용이된다.  */
}
.reply .reply__column:first-child {
  width: 10%;
}
.reply .reply__column:last-child {
  width: 90%;
  position: relative;
}

.reply .reply__column:last-child > i,
/* direct 로 children을 선택한다. */
.reply .reply__column:last-child button {
  position: absolute;
  right: 0;
  top: 4px;
}
.reply .reply__column:last-child > i
/* direct 로 children을 선택한다. */ {
  right: 40px;
  top: 12.5px;
}

.reply__column button {
  background-color: var(--yellow);
  border: none;
  /* 전송 버튼의 테두리가 검은색인데, border:none;을 통하여 
  경계를 없앤다. */
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.reply__column button:focus,
.reply__column button:active {
  outline: none;
  /* 전송 버튼을 눌러도 아무런 효과가 없게 하는 코드 */
}

.reply__column button i {
  opacity: 1;
}

@keyframes fadeIn {
  from {
    transform: translateX(600px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}
.main-chat {
  margin-top: 20px;
  display: flex;
  /* flex로 설정해야 timestamp의 크기가 조절이된다.  */
  flex-direction: column;
  /* flex-direction: column; 설정은 필수적이다. */
  align-items: center;
  /* 의문점: chat__tsimestamp에 적용을 하면 왜 똑같이 적용이 안될까 ?  */
  animation: fadeIn 1.5s linear;
  animation-delay: 2s;
  /* 내가 임의적으로 적용한 코드인데, 카톡 대기화면창이 
  2초나오고 main-chat부분이 나오는 것이기 때문에 2초정도 fadeIn
  애니메이션을 지연시키고 fadeIn 애니메이션이 실행되도록 하였다. */
}

#chat-screen .status-bar {
  z-index: 2;
  /* z-index는 layer와 같은 기능을 한다. 나는 nav바와 status바 사이 간격을
  margin을 통해서 띄어놔서 티가나지않지만, margin을 적용하지 않을때는 
  status바가 nav를 가리게 되는 문제가 있다. position:fixed, absolute 등의 문제를
  해결 할 수 있다. 
    */
}
#chat-screen .alt-header {
  top: 10px;
  z-index: 1;
}

@keyframes SplashScreenDelete {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
    transform: none;
    /* opacity가 0이면 안쪽의 화면이 보이나, 바깥쪽의 화면의 잔해가 
    남아있고, 아이콘들의 클릭이 불가능하다. 따라서 visiblity:hidden;( 마우스에 
    걸리지 않게 빠져버린다) 코드를 통하여 클릭가능한 상태로 만든다.  */
  }
}

#splash-screen {
  background-color: var(--yellow);
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  animation: SplashScreenDelete 0.4s ease-in-out forwards;
  animation-delay: 2s;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-smile-wink,
.reply:focus-within button {
  /*focus-within=> reply내부에 어떤 element가 focus되어 있다면이라는 뜻 */
  opacity: 0;
}

.reply:focus-within input {
  width: 95vw;
  transform: translateX(-12%) translateY(-98%);
  /* 대화입력창을 클릭하는 순간 왼쪽에 빈공간이 보이지 않도록
  왼쪽의 공간을 없애는 효과이다.   */
  /* input이 제자리에서 width만 변경되도록  translateY(-75%);을 
  설정해 준 것이다. */
}

.reply:focus-within {
  transform: translateY(98%);
  /* reply란에 클릭을 한다면 대화창 및 모든 것
  들이 밑으로 70떨어진다 ---> input창은 내려가지 않고 정상적으로 올라
  와 있도록 한다. 따라서 위의 코드처럼 translateY(-70%);을 추가했다.*/
}
