#chat-screen {
  background-color: #abc1d1;
  height: 11000vh;
}

.chat__timestamp {
  color: white;
  background-color: #92a4b2;
  padding: 14px;
  font-size: 15px;
  border-radius: 15px;
  margin-bottom: 40px;
}

#chat-screen .alt header {
  position: fixed;
  width: 100%;
}
