.user-component {
  display: flex;
  align-items: center;
}
.user-component__column {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.user-component__column2 {
  display: flex;
  align-items: center;
}
.user-component__avatar {
  width: 70px;
  height: 70px;
  border-radius: 30px;
  margin-right: 20px;
}

.user-componet__title {
  margin-right: 200px;
  font-weight: 700px;
  font-size: 20px;
}

.user-componet__title2 {
  margin-right: 150px;
  font-weight: 700px;
  font-size: 20px;
}

.user-component__muisic {
  width: 150px;
  height: 66px;
}

.user-componet__subtitle {
  margin-top: 5px;
  color: rgba(0, 0, 0, 0.5);
}

.user-component__avatar user-component__avatar--xl {
  width: 80px;
  height: 80px;
}
